.certificate {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .certificate-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 24px 0px;
  }
  .certificate-content a{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
}

  